<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IWebServiceCuil" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:60853/WebServiceCuil.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWebServiceCuil"
                contract="IWebServiceCuil" name="BasicHttpBinding_IWebServiceCuil" />
        </client>
    </system.serviceModel>
</configuration>